<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} - 着迷</title>
    <meta name="keywords" content="javascript之禅, javascript, react, angular, nodejs, front-end, frameworks" />
    <meta name="description" content="高端私人定制">
    <meta name="author" content="Sun Zhe">
    <link href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    {% block body %}
    <div>No body</div>
    {% endblock %}
</body>
</html>
